name: Generate Documentation with YARD
on:
  push:
    branches: [main]
    paths:
    - .github/workflows/documentation.yml
    - .yardopts
    - docs/**
    - lib/**
    - README.md

concurrency:
  group: pages
  cancel-in-progress: true
jobs:
  
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
    
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - uses: actions/configure-pages@v4
    
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3'
        bundler-cache: true
    
    - name: Package YARD
      run: bundle exec yard doc
    
    - uses: actions/upload-pages-artifact@v3
      with:
        path: doc
  
  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deploy-pages.outputs.page_url }}
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - id: deploy-pages
      uses: actions/deploy-pages@v4
